<%= render :partial => 'blog/posts/post', :object => @post %>

<% if ComfyBlog.disqus_enabled? %>
  <%= render :partial => 'blog/comments/disqus' %>
  
<% else %>
  <div id='comments'>
    <% @post.comments.each do |comment| %>
      <%= render :partial => 'blog/comments/comment', :object => comment %>
    <% end %>
  </div>
  <%= render :partial => 'blog/comments/form' %>
<% end %>

<nav class="pagination"> 
  <span id="older-nav"><a href="http://trentwalton.com/2011/03/29/making-it-personal/" rel="prev">Older Posts</a></span> 
  <span class="sep"> // </span> 
  <span id="newer-nav"><a href="http://trentwalton.com/2011/07/14/content-choreography/" rel="next">Newer Posts</a></span> 
</nav>